services:
  sqlserver2022:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver2022
    restart: unless-stopped
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "1"
      MSSQL_SA_PASSWORD: "yourStrong#Password"
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./backups:/var/opt/mssql/backups #necesita ser asi se guarda el .bak en la carpeta backups del proyecto
      - sqlserver2022_data:/var/opt/mssql
      - ./data:/data #monta la carpeta data del proyecto al contenedor

volumes:
  sqlserver2022_data:
    name: sqlserver2022_data
