services:
  azuresqledge:
    image: mcr.microsoft.com/azure-sql-edge
    container_name: azuresqledge
    restart: unless-stopped
    ports:
      - "1433:1433"
    env_file:
      - .env
    environment:
      ACCEPT_EULA: "1"
      MSSQL_SA_PASSWORD: "${MSSQL_SA_PASSWORD}"
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./backups:/var/opt/mssql/backups #necesita ser asi se guarda el .bak en la carpeta backups del proyecto
      - azuresqledge_data:/var/opt/mssql
      - azuresqledge_ext:/var/opt/mssql-extensibility
      - azuresqledge_ext_data:/var/opt/mssql-extensibility/data
      - azuresqledge_ext_log:/var/opt/mssql-extensibility/log
      - ./data:/data #monta la carpeta data del proyecto al contenedor

volumes:
  azuresqledge_data:
    name: azuresqledge_data
  azuresqledge_ext:
    name: azuresqledge_ext
  azuresqledge_ext_data:
    name: azuresqledge_ext_data
  azuresqledge_ext_log:
    name: azuresqledge_ext_log
